.text-color {
  color: #060807;

  font-family: Averta;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.btn-submit {
  margin-top: 29px;
}

.container-panigation {
  width: 500px;
}

.select-panigation {
  width: 100px;
  height: 40px;
}

.count-panigation {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 700;
}

.hidden {
  display: none;
}

.unHidden {
  display: block;
}