#product {
  background-image: image-set("/src/assets/images/bg-section-product.png" 2x);
  padding: 0 20px;
  width: 100%;
  .product__list {
    padding: 40px;
    font-size: 18px;
    background-color: #ffffff;
    border-radius: 20px 20px 0 0;
    &-content {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 373px;
      gap: 25px;
    }
    &-box {
      border: 1px solid rgba(232, 232, 232, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 20px;
      gap: 20px;
      & img {
        object-fit: contain;
        width: 220px;
        height: 180px;
      }
    }
    &-name {
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
    }

    &-price strong {
      color: $yellowText;
    }
  }
}

.breadcrumb {
  margin-bottom: 0 !important;
  background-color: transparent !important;
}

@media (max-width: 1366px) {
  #product {
    .product__list {
      &-content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 373px;
      }
    }
  }
}
